# Mac
.DS_Store

# DataBase files
/db.json

# Config files
/config.json

# Log files
*.log

# VSCode unwanted config
/.vscode/.ropeproject

# Python
*.pyc
*.pyo
__pycache__

# Build files
/build*/
/dist/
/data/version.info
*.spec
**/i18n/*.qm
